<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webpage with Header and Footer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </head>

    <body>



        <header id="header_main">
            <h1>Website Header</h1>
            <nav>
                <table id="header_table">
                    <tr>
                        <td><a href="#home" onclick="displayText('home')">Home</a></td>
                        <td><a href="#about" onclick="displayText('about')">About</a></td>
                        <td><a href="#services" onclick="displayText('servieces')">App</a></td>
                        <td><a href="#contact" onclick="displayText('contact')">Profile</a></td>
                    </tr>
                </table>
            </nav>
        </header>



        <center><h2 id="heading1">click below button to tell your name</h2></center>

        <button id="button_name" onclick="get_name('Name : ')">Tell your Name</button>

        <input type="text" id="inputTextBox" placeholder="age">
        
        <!-- <p id="p1">no button clicked</p> -->

        <table id="table_body">

            <tr>
                <td>
                    <p id="table_p">no button clicked</p>
                </td>
            </tr>

        </table>




        <footer id="footer_main">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </footer>



    </body>
</html>